@charset "utf-8";

/* reset */
html,body {height: 100%;font-family: 'Pretendard';}
 * {margin: 0;padding: 0;box-sizing: border-box;}
 ul,li {list-style: none;} 
 a:link,a:visited {text-decoration: none; color: #333;}
 img {display: block;}

/* 공통 사용 CSS */
h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #333;
}
h3 span {
    color: #01AFFF;
}
/* 작업 후 날릴 것*/
.hunWrap {background: #e8f8ff;}
.ramWrap {background: #f8deff;}
.heeWrap {background: #ffe3a8;}
.jungWrap {background: #bdffcb;}
/* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */

 @media screen and (max-width: 1199px) {
/* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }
 
 @media screen and (max-width: 991px) {
 /* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }
 
 @media screen and (max-width: 767px) {
 /* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }
 @media screen and (max-width: 575px) {
 /* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }