@charset "utf-8";

/* reset */
html,body {height: 100%;font-family: 'Pretendard';}
 * {margin: 0;padding: 0;box-sizing: border-box;}
 ul,li {list-style: none; margin: 0;} 
 header, footer, div {margin: 0;}
 a:link,a:visited {text-decoration: none; color: #333;}
 img {display: block;}

/* 공통 사용 CSS */
h3 {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    color: #333;
}

h3 span {
    color: #01AFFF;
}
.container-fluid {
    padding: 0;
}
.container {
    /* width: 1080px; */
    padding: 0;
}
/* 작업 후 날릴 것*/
.hunWrap {background: #e8f8ff;}
.ramWrap {background: #f8deff;}
.heeWrap {background: #ffe3a8;}
.jungWrap {background: #bdffcb;}
/* header */

/* Visual Swiper */

/* Card type1 */
.cardWrap1 {
    display: flex;
}
.cardWrap1 .card {
    border: 0;
    text-align: center;
}
.cardWrap1 .card img {
    border-radius: 0;
}
.cardWrap1 .card .title {
    font-size: 28px;
    font-weight: 800;
    color: #333;
}
.cardWrap1 .card .text {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    line-height: 1.7em;
}
/* Card type2 & type 3 */
.bg-color-gr {
    background: #F9FAFB;
}
.cardWrap2,.cardWrap3  {
    padding: 54px 0;
}
.cardbox {
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    margin-bottom: 50px;
}
.cardbox.revers {
    flex-direction: row-reverse;
}
.cardbox.revers .card-body {
    padding-left: 0;
}
.cardbox img {
    width: 45%;
}
.cardbox .card-body {
    padding: 50px 0;
}
.cardbox .card-body .comment {
    font-size: 18px;
    font-weight: 600;
    line-height: 1em;
    color: #01AFFF;
}
.cardbox .card-body .title {
    font-size: 28px;
    font-weight: 800;
    line-height: 1em;
    color: #333;
    padding-bottom: 10px;
}
.cardbox .card-body .text {
    font-size: 18px;
    line-height: 1.5em;
    color: #666;
}
/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */

 @media screen and (max-width: 1199px) {
/* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }
 
 @media screen and (max-width: 991px) {

 /* 공통 사용 CSS */
h3 {
    font-size: 2em;
    line-height: 1em;
}
 /* header */

/* Visual Swiper */

/* Card type1 */
.cardWrap1 .card .title {
    font-size: 1.5em;
}
.cardWrap1 .card .text {
    font-size: 1em;
    line-height: 1.5em;
}
/* Card type2 & type 3 */
.cardWrap2,.cardWrap3  {
    padding: 54px 0;
}
.cardbox {
    margin-bottom: 30px;
    text-align: center;
}
.cardbox.revers {
    flex-direction: row-reverse;
}
.cardbox.revers .card-body {
    padding: 0;
}
.cardbox img {
    width: 100%;
}
.cardbox .card-body {
    padding: 30px 0;
}
.cardbox .card-body .comment {
    font-size: 1em;
    line-height: 1em;
}
.cardbox .card-body .title {
    font-size: 1.5em;
    line-height: 1em;
    padding-bottom: 10px;
}
.cardbox .card-body .text {
    font-size: 1em;
    line-height: 1.5em;
}

/* Visual */

/* Card type3 */

/* Swiper banner */
.swiper {
    width: 100%;
    height: 80%;
    padding-bottom: 30px;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
    column-gap: 30px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    transition: transform 0.3s;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-slide:hover {
transform: translateY(30px);
}
/* Map API */

/* footer */
 }
 
 @media screen and (max-width: 767px) {
 /* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }
 @media screen and (max-width: 575px) {
 /* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }