@charset "utf-8";

/* reset */
html,body {height: 100%;font-family: 'Pretendard';}
 * {margin: 0;padding: 0;box-sizing: border-box;}
 ul,li {list-style: none; margin: 0;} 
 header, footer, div {margin: 0;}
 a:link,a:visited {text-decoration: none; color: #333;}
 img {display: block;}

/* 공통 사용 CSS */
h3 {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    color: #333;
}

h3 span {
    color: #01AFFF;
}
.container-fluid {
    padding: 0;
}
.container {
    /* width: 1080px; */
    padding: 0;
}
/* 작업 후 날릴 것*/
.hunWrap {
    /* background: #0213ff; */
position: fixed;
z-index: 9999;
}
.ramWrap {background: #f8deff;}
.jungWrap {background: #bdffcb;}
/* header */
.hunWrap .container {
    padding: 0px 45px;
}
.header {
    /* width: 100%; */
display: flex;
justify-content: space-between;
padding: 10px 0px;
/* width:1240px; */
align-items: center;
    /* height: 100px; */
    /* border: 3px solid black; */
   
}
.hunWrap .logoimage {
    padding: 10px 0px;
}
.hunWrap .logoimage>a{
    display: block;
    /* background-color: red; */
    width: 200px;
    /* border: 3px solid black; */
}
.hunWrap .logoimage>a>img{
    display: block;
    /* background-color: pink; */
    width: 100%;
}


.hunWrap .header_menu{
    display: flex;
    gap: 20px;
    padding: 10px ;
    align-items: center;
    /* border: 3px solid black; */
}
.hunWrap .header_menu>li{
    /* border: 3px solid black; */
}
.hunWrap .header_menu>li>a{
    display: block;
    width: 100%;
    padding: 0px 10px;
    /* border: 3px solid pink; */
    color: white;
    font-weight: 800;
}
.hunWrap #appbtn {
    background-color: #01AFFF;
    padding: 5px 30px;
    border-radius: 10px;
}

.toggle_button{
    width: 20px;
    height: 20px;
    /* background: skyblue; */
    position: relative;
    /* position: fixed; */
    right: 20px;
    top: 20px;
    cursor:pointer;
    display: none;
   

}
.toggle_button > .bar{
    width: 20px;
    height: 2px;
    background-color: black;
    border-radius: 1px;
    position: absolute;
    transition:0.3s
}

.toggle_button > .bar:nth-child(2){
    top: 50%;margin-top: -1px;
    opacity: 1;
}
.toggle_button > .bar:nth-child(3){
    bottom: 0;
}


.toggle_button.active > .bar:nth-child(1){
    /* transform:translate(0,9px) rotate(45deg); */
    transform: translate(0,9px) rotate(45deg);
}
.toggle_button.active > .bar:nth-child(2){opacity: 0;}
.toggle_button.active > .bar:nth-child(3){
    transform: translate(0,-9px) rotate(-45deg);
}
.textscroll {
    transition: color 0.3s ease; /* 색상 변경을 부드럽게 만들기 위한 transition */
    
}
.textscroll.scrolled {
    color: black !important; /* 스크롤 시 적용할 색상 */
}
.dropbar {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 9999;
    top: 100px;
    width: 80%;
    padding: 15px;
   
   
}
/* .dropbar ul{
    width: 100%;
} */
.dropbar li{
width: 100%;
}
.dropbar ul>li>a {
    display: block;
    color:black;
    /* border: 1px solid black; */
    text-align: left;
    font-weight: 600;
    width: 100%;
    padding: 10px 10px;
}
.dropbar #toggle_btn {
    background-color: #01AFFF;
    text-align: center;
    color: white;
    /* padding: 5px 30px; */
    border-radius: 5px;
}

@media screen and(max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 8px 24px;
    }
}
     
/* Visual Swiper */

/* Card type1 */
.cardWrap1 {
    display: flex;
}
.cardWrap1 .card {
    border: 0;
    text-align: center;
}
.cardWrap1 .card img {
    border-radius: 0;
}
.cardWrap1 .card .title {
    font-size: 28px;
    font-weight: 800;
    color: #333;
}
.cardWrap1 .card .text {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    line-height: 1.7em;
}
/* Card type2 & type 3 */
.bg-color-gr {
    background: #F9FAFB;
}
.cardWrap2,.cardWrap3  {
    padding: 54px 0;
}
.cardbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cardbox.revers {
    flex-direction: row-reverse;
}
.cardbox.revers .card-body {
    padding-left: 0;
}
.cardbox img {
    width: 45%;
    display: block;
}

.cardbox .card-body {
    padding: 50px 0;
}
.cardbox .card-body .comment {
    font-size: 18px;
    font-weight: 600;
    line-height: 1em;
    color: #01AFFF;
}
.cardbox .card-body .title {
    font-size: 28px;
    font-weight: 800;
    line-height: 1em;
    color: #333;
    padding-bottom: 10px;
}
.cardbox .card-body .text {
    font-size: 18px;
    line-height: 1.5em;
    color: #666;
}
/* Visual */
.hunVisulWrap.visualbgimage{
 background: url("/images/contents_visual.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 height: 680px;
}
.hunVisulWrap>.visual{
    position: absolute;
    left: 23%;
    top: 15%;
    
}
.hunVisulWrap>.visual>h2 {
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 10px;
}
.hunVisulWrap>.visual>p {
    font-weight: 700;
}
/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */

 @media screen and (max-width: 1199px) {
/* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }
 
 @media screen and (max-width: 991px) {

 /* 공통 사용 CSS */
h3 {
    font-size: 2em;
    line-height: 1em;
}
 /* header */
 .hunWrap{
    position: static;
 }
.hunWrap .header_menu{
    display: none;
}
.toggle_button{
    display: block;
}
.dropbar{
    /* display: none; */
}
/* Visual Swiper */

/* Card type1 */
.cardWrap1 .card .title {
    font-size: 1.5em;
}
.cardWrap1 .card .text {
    font-size: 1em;
    line-height: 1.5em;
}
/* Card type2 & type 3 */
.cardWrap2,.cardWrap3  {
    padding: 54px 0;
}
.cardbox {
    margin-bottom: 30px;
    /* text-align: center; */
    flex-direction: column-reverse;
}
.cardbox.revers {
    flex-direction:column-reverse;
}
.cardbox.revers .card-body {
    padding: 30px 0 20px 0;
}
.cardbox img {
    width: 100%;
}
.cardbox .card-body {
    padding: 30px 0 20px 0;
}
.cardbox .card-body .comment {
    font-size: 1em;
    line-height: 1em;
}
.cardbox .card-body .title {
    font-size: 1.5em;
    line-height: 1em;
    padding-bottom: 10px;
}
.cardbox .card-body .text {
    font-size: 1em;
    line-height: 1.5em;
}

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }
 
 @media screen and (max-width: 767px) {
 /* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }
 @media screen and (max-width: 575px) {
 /* header */

/* Visual Swiper */

/* Card type1 */

/* Card type2 */

/* Visual */

/* Card type3 */

/* Swiper banner */

/* Map API */

/* footer */
 }